.seo-post-generator .seo-section {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.seo-post-generator .widefat {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;A
}